@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
   font-family: 'Playfair Display', serif;
}


body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

footer {
    padding-left: 30px;
    background-color: green
 }

 a:hover {
    color: rgb(77, 221, 77);
 }

 a {
    text-decoration: none;
 }

 .very_top {
    background-color: red;
    border-bottom: 2px solid #146152;
 }

 .first_link {
    color: white;
 }

 title {
    color: rgb(0,100,100
    )
 }

 main > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 .alternating_highlight tr:nth-child(even) {
    background-color: rgb(168, 166, 166);
 }
